<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
     {# <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> #}

   <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}"> 
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo" style="width: 100px; height: 80px;">
        </a>
        
        <span class="hamburger">&#9776;</span> <!-- Hamburger icon for smaller screens -->
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
    <h1>Contact Us</h1>

    <form action="{{ url_for('submit_contact') }}" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="message">Message:</label><br>          

        {#<textarea id="message" name="message" rows="5" required></textarea><br><br> #}
        <textarea id="message" name="message" rows="5" class="custom-textarea" required></textarea>   {#for fix contact#}

          <button type="submit">Submit</button>
        </form>
</body>
</html>
